{{ define "main" }}
  <h5>{{ .Params.modelNumber }} {{ .Params.msName }}</h5>
  Class: {{ .Params.msClass | title }} | <em><a href="{{ .Params.gundamWikiLink }}">See this mobile suit on the Gundam Wiki</a></em>

  <div class="ms-portrait">
    <img src="{{ .Params.imageURL }}" />
  </div>

  {{ .Content }}

  <div class="ms ms-moves">
    <h3>MS Moves</h3>
  {{ range .Params.specialMoves }}
    <h4>{{ .name }}</h4>
    <p>{{ .description | markdownify }}</p>
  {{ end }}
  </div>

  <div class="ms ms-systems">
    <table class="table">
      <thead>
        <tr>
          <th>System</th>
          <th>Starting score</th>
          <th>Maximum score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Weapons</th>
          <td>{{ .Params.mobileSuitSystems.starting.weapons }}</td>
          <td>{{ .Params.mobileSuitSystems.maximum.weapons }}</td>
        </tr>
        <tr>
          <th>Hull</th>
          <td>{{ .Params.mobileSuitSystems.starting.hull }}</td>
          <td>{{ .Params.mobileSuitSystems.maximum.hull }}</td>
        </tr>
        <tr>
          <th>Comms</th>
          <td>{{ .Params.mobileSuitSystems.starting.comms }}</td>
          <td>{{ .Params.mobileSuitSystems.maximum.comms }}</td>
        </tr>
        <tr>
          <th>Engines</th>
          <td>{{ .Params.mobileSuitSystems.starting.engines }}</td>
          <td>{{ .Params.mobileSuitSystems.maximum.engines }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{{ end }}
