{{ define "main" }}
  <h5>{{ .Params.playbookDescription }}</h5>

  <em>Play {{ .Title }} if you want to {{ .Params.reasonToPlay | markdownify }}</em>

  {{ .Content }}

  {{ if isset .Params "startingactiondots" }}
    <div class="playbook playbook-section playbook-action-dots">
      <h3>Starting actions</h3>
        <table class="playbook playbook-action-dots-table"><tbody>
        {{ range .Params.startingActionDots }}
          <tr>
            <th>{{ humanize .action }}</th><td>{{ .dots }}</td>
          </tr>
        {{ end }}
        </tbody></table>
    </div>
  {{ end }}

  {{ if or ( isset .Params "specialmoves" ) ( isset .Params "startingmove" ) }}
    <div class="playbook playbook-section playbook-special-moves">
      <h3>Special moves</h3>
        {{ if isset .Params "startingmove" }}
          {{ $startingMoveName := print .Params.startingMove.name " (starting move)" }}
          {{ partial "special-move.html" (dict "name" $startingMoveName "description" .Params.startingMove.description) }}
        {{ end }}

      {{ range .Params.specialMoves }}
        {{ partial "special-move.html" (dict "name" .name "description" .description) }}
      {{ end  }}
    </div><!-- end .playbook-special-moves -->
  {{ end }}
{{ end }}
