.tocify-wrapper .tocify-focus {
  background-color: red;
}

.attribute-adjective {
  width: 0.8em;
  margin: 0 !important;
  padding: 0;
  padding-top: 2px !important;
  display: inline-block !important;
}

.fract-gambit {
  margin: 2em;
  margin-right: 55%;
  padding: 1em 1em .5em;
  border-left: 3px solid red;
}

h1::before {
  content: '';
  background: url('/games/against-the-titans-of-war/images/dice-d10-solid.svg') no-repeat;
  height: .8em;
  width: 1em;
  display: inline-block;
}
