.tocify-wrapper .tocify-focus {
  background-color: red;
}

.attribute-adjective {
  transform: rotate(180deg);
  width: 0.8em;
  margin: 0 !important;
  padding: 0;
  padding-bottom: 2px !important;
  display: inline-block !important;
}

.fract-gambit {
  margin: 2em;
  margin-right: 55%;
  padding: 1em 1em .5em;
  border-left: 3px solid red;
}
